.App{
    display: flex;
    flex-direction: column;
}
.GameHeader{
    /* background-color: blue; */
    display: flex;
}
.GameHeader div{
    /* border: solid 1px orange; */
    margin: 2px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border-color: #f2f5f8;
    border-width: 3px;
    border-style: solid;
    background-color: #f2f5f8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.GameHeader .current{
    /* background-color: #0dbd8b; */
    border-color: #0dbd8b;
}

.GameHeader .Worker{
    background-image: url(/res/worker.png);
}
.GameHeader .Building {
    background-image: url(/res/building.png);
}
.GameHeader .Aristocrat{
    background-image: url(/res/aristocrat.png);
}
.GameHeader .Exchange{
    background-image: url(/res/exchange.png);
}