.field {
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    opacity: 0.7;
    transition-duration: 0.5s;
}
.field.Worker    {background-color: #47904840;}
.field.Building  {background-color: #3991d040;}
.field.Aristocrat{background-color: #991e222c;}
.field.Exchange  {background-color: #adadad40;}
.field.yourTurn {
    opacity: 1;
    transition-duration: 0.5s;
    border-color: #bb7a45;
}
.field .card{
    flex-shrink: unset;
}
.CardFieldRow {
    display: flex;
    justify-content: center;
    
}
.expanded .CardFieldRow.playerField {
    flex-wrap: wrap;
}
.CardFieldRow.hand{
    display: flex;
    justify-content: center;
    flex-grow: 0;
}
.CardFieldRow.playerField{
    display: flex;
    justify-content: start;
    border: 2px solid grey;
    border-radius: 8px;
}
.playerArea {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto 10px auto;
}
.playerBox {
    margin: 3px;
    padding: 5px;
    border-width: 3px;
    border-radius: 8px;
    border-color: #f2f5f8;
    background-color: white;
    border-style: solid;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: thin;
    transition-duration: 1s;
    scrollbar-color: gray white;
}
.playerBox.expanded{
    overflow: hidden;
}
.playerBox.current {
    transition-duration: 1s;
    background-color: #f7f0e4;
    border-width: 3px;
    border-color: #bb7a45;
    border-style: solid
}
.playerBox p{
    margin: 3px 0;
}
.playerInfo{
    display: flex;
    flex-direction: column;
    width: 70px;
}
.playerInfo p{
    margin: 8px 0; 
}

.StartPhaseIndicatorContainer {
    display: flex;
    flex-direction: row;
}
.StartPhaseIndicatorContainer>div{
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.StartPhaseIndicatorContainer>div.Worker{
    background-image: url(/res/worker.png);
}
.StartPhaseIndicatorContainer>div.Building{
    background-image: url(/res/building.png);
}
.StartPhaseIndicatorContainer>div.Aristocrat{
    background-image: url(/res/aristocrat.png);
}
.StartPhaseIndicatorContainer>div.Exchange{
    background-image: url(/res/exchange.png);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-color: red;
    border-width: 2px;
    border-radius: 4px;
    /* box-shadow: 0 0 7px rgb(160, 160, 160); */
    padding: 0px;
    margin: 3px;
    width: 60px;
    height: 100px;
    /* width: 82px;
    height: 135px; */
    background-image: url(/res/cardBg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card .Activated{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
    font-size: xx-large;
}
.playerArea .card{
    width: 55px;
    height: 90px;
}
.hand .card{
    width: 55px;
    height: 90px;
}
.card.large {
    width: 82px;
    height: 135px;
}
.card.small {
    width: 55px;
    height: 90px;
}

.card button{
    text-align: center;
    margin: 3px;
    opacity: 0;
    background-color: rgba(197, 197, 197, 0.479);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 16px;
    transition-duration: 0.5s;
}
.card:hover button{
    opacity: 1;
    transition-duration: 0.5s;
    /* display:block; */
}
.card button:hover{
    background-color: rgba(70, 70, 70, 0.932);
    background-color: #0caf81;
    transition-duration: 0.5s;
    border-radius: 3px;
}

.card.selectable{
    border-width: 3px;
    border-color: rgb(165, 241, 77);
    border-style: solid;
}
