.cardPreview{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width: 50px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.exchangeIcon{
    font-size: large;
    color: rgb(184, 156, 106);
}
.turnDrawer{
    /* margin: 0 5px; */
    display: inline;
    border-radius: 8px;
    /* border: solid 2px grey; */
}
.turnDrawer div{
    height: 25px;
    display: inline-block;
}
.turnDrawer .cardPreview{
    width: 25px;
    height: 25px;
}
.turnDrawer span {
    font-size: small;
    color: gray;
}